<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
            <li class="nav-item">
                <a class="nav-link" href="#"><b>Music-Hub</b></a>
            </li>
        </ul>
    </div>
    &copy; 2021 <a href="https://www.instagram.com/febin.c.paul/"><b>Febin C Paul</b></a>. All Rights Reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light">

    <div class="rpanel-title"><span class="btn pull-right"><i class="fa fa-remove"
                data-toggle="control-sidebar"></i></span> </div>
    <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
        <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"></a></li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">


            <!-- /.control-sidebar-menu -->



            <!-- /.control-sidebar-menu -->

        </div>

        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->

<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->



<!-- jQuery 3 -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js') }}"></script>

<!-- popper -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/popper/dist/popper.min.js') }}"></script>

<!-- date-range-picker -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/moment/min/moment.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- Bootstrap 4.0-->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/bootstrap/dist/js/bootstrap.js') }}"></script>

<!-- Slimscroll -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

<!-- FastClick -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/fastclick/lib/fastclick.js') }}"></script>

<!-- ChartJS -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/chart.js-master/Chart.min.js') }}"></script>

<!-- Sparkline -->
<script
    src="{{ url_for('static', filename='assets-user/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.js') }}"></script>

<!-- Morris.js charts -->
<script src="{{ url_for('static', filename='assets-user/assets/vendor_components/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets-user/assets/vendor_components/morris.js/morris.min.js') }}"></script>

<!-- Superieur Admin App -->
<script src="{{ url_for('static', filename='assets-user/js/template.js') }}"></script>

<!-- Superieur Admin for demo purposes -->
<script src="{{ url_for('static', filename='assets-user/js/demo.js') }}"></script>






</body>

<!-- Mirrored from superieur-admin-templates.multipurposethemes.com/main_dark/index-8.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Mar 2024 10:26:15 GMT -->

</html>